.counter-container {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.counter-display {
    font-size: 9rem;
    margin-top: 0;
    margin-bottom: 50px;
}

.counter-button {
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    font-size: bold;
    margin: 0px 5px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.counter-button:hover {
    background-color: rgb(84, 84, 148);
}